# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/telfera?schema=public"

# NextAuth
AUTH_SECRET="your-super-secret-key-min-32-chars-long"
AUTH_URL="http://localhost:3000"

# Site
SITE_URL="https://telfera.kz"
NODE_ENV="development"

# Logging
LOG_LEVEL="info"
LOG_FILE_PATH="./logs/app.log"
